annotated-types
anyio
asttokens
backcall
beautifulsoup4
certifi
charset-normalizer
click
colorama
contourpy
cycler
debugpy
decorator
distlib
entrypoints
exceptiongroup
executing
fastapi
filelock
fonttools
greenlet
idna
ijson
ipykernel
ipython
jedi
joblib
jupyter-core
jupyter_client
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
nltk
numpy
packaging
pandas
parso
pickleshare
Pillow
platformdirs
prompt-toolkit
psutil
psycopg2
pure-eval
pyarrow
pydantic
pydantic_core
Pygments
PyMySQL
pyparsing
python-dateutil
pytz
pyzmq
regex
requests
scikit-learn
scipy
seaborn
six
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
threadpoolctl
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
uvicorn
vaderSentiment
virtualenv
wcwidth
wordcloud
